---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>L'antre de Gwen</title>
	</head>
	<body>
		<h1>L'antre de Gwen</h1>
		<h2>Présentation de mes loisirs, bricolages, projets, etc</h2>
	</body>
</html>
